# Streamlit App
streamlit>=1.41.0

# Core Libraries 
openai==2.7.2
pandas==2.3.3
pydantic==2.12.4
requests==2.32.5

# Document Output 
python-docx==1.2.0

# CrewAI (SAFE VERSIONS, no pywin32) -
# compatiable with Python 3.7 through 3.12
crewai>=0.95.0
crewai-tools>=0.25.8

langdetect==1.0.9
dropbox==11.36.2
