name: Sync to HF Space
on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v3

      - name: Push to the Space
        uses: huggingface/space-sync-action@v0.4.0
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          space-id: "germsk/tongtranslate2"
